<h2>Title: {{title}}</h2>
<p>Genre: {{genre}}</p>
<p>Plot: {{plot}}</p>
<div>
    {{#each cast}}
        <h3>Celebrity name: {{name}}</h3>
        <p>Occupation: {{occupation}}</p>
        <p>Catch phrase: {{catchPhrase}}</p>
    {{/each}}
</div>