<h2>Title: {{title}}</h2>
<p>Genre: {{genre}}</p>
<p>Plot: {{plot}}</p>
<div>
    {{#each cast}}
        <h3>Celebrity name: {{name}}</h3>
        <p>Occupation: {{occupation}}</p>
        <p>Catch phrase: {{catchPhrase}}</p>
    {{/each}}
</div>
<form method="POST" action="/movies/delete/{{_id}}">
    <button type="submit">Delete</button>
</form>
<form method="GET" action="/movies/edit/{{_id}}">
    <button type="submit">Edit</button>
</form>